/* WalletConnect button style */
.wallet-connect-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #1e00ffee;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wallet-connect-button:hover {
  background-color: #2042ff;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
